/* Убираем отступы у body и html */
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	overflow-x: hidden;
	scroll-behavior: smooth;
	user-select: none;
	scrollbar-width: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body::-webkit-scrollbar {
	display: none;
}
